body {
    background-color: #ccc5b9;
}

.my_jumbo {
    background-color: #403d39;
    color: #eb5e28;
}
.gallery {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.my_nav {
    background-color: #252422 !important;
}

.my_nav a,
.my_nav button,
.my_nav button > span {
    color: #eb5e28 !important;
}

.my_nav button {
    background-color: #fffcf2;
}

.item.a img {
    max-height: 320px; /* Larghezza massima per le immagini della classe "a" */
}

.item.b img {
    max-height: 400px; /* Larghezza massima per le immagini della classe "b" */
}

.item img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}
.item {
    display: flex;
    align-items: center;
}

.item:hover img {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: all 0.3s;
}

.about_img {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    height: 120px;
}

.social-icons {
    padding-left: 40px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #212529; /* Cambia il colore dell'icona in scuro durante l'hover */
}
